.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.title,
.username {
  color: #FFFFFF;
}

.img_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.img {
  width: 55px;
  /* height: 75px; */
  /* animation: rotate 1s ease; */
  /* animation: fall 3s  1s ease infinite; */
  /* animation: alert 4s  1s ease infinite; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(75px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes alert {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  5% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  10% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  15% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  25% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  30% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  35% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  40% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  45% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  50% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-width: 992px) {
  .container{
    flex-direction: column;
    align-items: center;
  }
  .title{
    font-size: 1rem;
  }
  .style.dataContainer{
    display: flex;
    align-items: center;
  }
  /* .img_container {
    width: 45px;
    height: 45px;
  }
  .img {
    width: 35px;
  } */
}