@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

.sec_font{
  font-family: 'Sulphur Point', sans-serif;
}
body{
  font-family: 'Sulphur Point', sans-serif;

}
.slider_title{
  font-family: 'Cabin', sans-serif;
  font-style: italic;
}

.slider_front{
  /* transform-style: preserve-3d; */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.3s ease;
}

.slider_backface{
  /* transform-style: preserve-3d; */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: 0.3s ease;
}


@media (max-width : 768px){
  .slider:hover .slider_front{
    transform: rotateY(180deg);
  }
  .slider:hover .slider_backface{
    transform: rotateY(0deg);
  }
}
.main-height{
  height: calc(60vh - 80px);
}
.nav__element {
  @apply duration-100 cursor-pointer hover:font-semibold hover:scale-[1.1];
}
img {
  max-width: none;
}
.read__more_btn {
  --b: 4px; /* thickness of the border */
  --c: black; /* color of the border */
  --w: 14px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);

  /* width:200px;
    height:100px;
    box-sizing:border-box;
    margin:5px;
    display:inline-flex;
    font-size:30px;
    justify-content:center;
    align-items:center;
    text-align:center; */
}

.sidebar_bg{
  /* background: rgb(237,228,215); */
/* background: linear-gradient(184deg, rgba(237,228,215,1) 0%, rgba(124,131,147,1) 100%); */
background: rgb(237,228,215);
/* background: linear-gradient(184deg, rgba(237,228,215,1) 0%, rgba(207,214,230,1) 100%); */
background: linear-gradient(184deg, rgba(237,228,215,1) 0%, #c9a08ef3 100%);
}
.sidebar__element {
  @apply my-2 py-1 cursor-pointer px-4 font-semibold rounded-lg duration-150 hover:bg-[hsla(0,0%,0%,0.07)];
}
.sectionSize {
  @apply lg:px-48 md:px-12 px-4 py-14 flex flex-col items-center;
}
.main-box-shadow{
  /* box-shadow: 6.5px 6px 0px 0px #98b0d2; */
  border : none;
}
.main-box-shadow:hover{
  box-shadow: 0px 0px 4px 0 #98b0d2, 6.5px 6px 0px 0px #98b0d2;
}
.animatedBackground {
    animation: animateBg 3s linear infinite;
    background-image: linear-gradient(125deg,rgba(237,228,215,1),rgba(207,214,230,1),rgba(237,228,215,1),rgba(207,214,230,1));
    background-size: 300% 100%;
  
  /* background: linear-gradient(95deg, #b5d1e6, #f1ded0, #f1d0d0);
  background-size: 800% 800%;
  -webkit-animation: animatedBackground 1s ease infinite;
  -moz-animation: animatedBackground 1s ease infinite;
  -o-animation: animatedBackground 1s ease infinite;
  animation: animatedBackground 1s ease infinite; */
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

@-webkit-keyframes animatedBackground {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}
@-moz-keyframes animatedBackground {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}
@-o-keyframes animatedBackground {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}
@keyframes animatedBackground {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}

/* .secondaryTitle {
    @apply font-pt-serif text-3xl bg-left-bottom bg-no-repeat pb-8 px-16 mb-8;
  } */
