html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;

}

img {
  width: 100%;
  height: fit-content
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

:root {
  --main-color: #394b8c;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ebeef5 !important;
  /* font-family: 'Manrope', sans-serif; */

}

a {
  color: #000000;
}

a:hover {
  color: inherit !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #394b8c;
  font-weight: 600 !important;
}

.description {
  color: #667790;
}


.productImage:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.checked {
  color: #f6b01e;
}

.navBar a,
.navBar svg {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.sideNav p,
.sideNav svg {
  color: white;
  text-align: center !important;
}

.searchContainer svg {
  color: black;
}



.navBar p:hover,
.navBar h3:hover,
.navBar svg:hover,
.navBar a:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.06);
}


.example-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.custom-shape-divider-bottom-1658931033 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658931295 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1658931295 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1658931295 .shape-fill {
  fill: #ebeef5;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1658931295 svg {
    width: calc(114% + 1.3px);
    height: 90px;
  }

  .category_img_container {
    width: 80px !important;
  }
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #245891;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.custom-shape-divider-top-1659273714 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1659273714 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1659273714 .shape-fill {
  fill: #ebeef5;
}

.search:focus {
  border: none !important;
  box-shadow: none !important
}

a {
  text-decoration: none;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}


@media (min-width: 768px) {
  .category {
    flex-grow: 1 !important;
  }
}

.Form__container {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .Form__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .form__input {
    margin-bottom: 1rem !important;
  }

}




.swiper-button-next,
.swiper-button-prev {
  color: #FFFFFF7A !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #FFFFFF !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 20px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 20px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem !important;
}

.payments {
  pointer-events: none;
  position: relative;
}

.paymentSlider,
.slick-track {
  display: flex !important;
  align-items: center;
  max-height: 180px !important;

  /* animation: slider 10s  linear infinite; */
  /* width: 5700px; */
}

.paymentSliderContainer {
  display: flex;
  align-items: center;
}

.paymentSlideItem {
  min-width: 170px;
  margin: 0 -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 250px; */
}

.paymentSlideItem>img {
  width: 100%;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-85%);
  }
}

.pagination {
  margin: 1rem 0 0;
}

.page-item {
  cursor: pointer;
}



.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: fill;
  /* margin-top: 170px; */
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.paragraph {
  width: 75%;
  margin: auto;
  text-align: center;
  color: #777;
}

/* .main-section{
  width: 80%;
} */
@media (min-width : 1200px) {
  .main-section {
    width: 70% !important;
  }
}

.installment_slider {
  background-color: #dee2ed;
}

.installment_slider_container {
  background-color: #2196f36e;
  padding: 0.5rem 1rem;
}

.installment_slider_item {
  margin: 0 0.75rem;
  font-size: 1rem;
  color: #000000 !important;
  letter-spacing: 0.15px;
}
.installment_slider_item:hover{
  color: black !important;
}
.installment_slider_item > span {
  padding: 0 0.25rem;
}

.custom-grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 1rem;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .custom-grid {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
}

/* @media (min-width: 768px)and (max-width: 1024px) {
  .custom-grid {
    margin: auto;
    width: 100%;
  }
} */

.trendlix{
  color : black;
  transition: 0.3s;
  display: inline-block;
  text-decoration: underline !important;
}
.trendlix:hover{
  transform: scale(1.025);
}